@use '../../scss/main.scss' as *;

.transactions-page{
    color:$grey-900; 
    .transactions-page-header{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        .title{
            @include text-preset-1; 
        }
    }
    
    .content-container{
        margin-top: 2rem;
        background-color: $white;
        border-radius: 0.5rem;
        padding: 1.5rem 1.25rem; 
        .no-data{
            @include text-preset-3; 
            padding: 2rem 0;
        }
    }
}

@media (min-width:$tablet-size){
    .transactions-page{
        .content-container{
            padding: 2rem;
        }
    }
}