@use "../../scss/main.scss" as *;
.cta-btn {
  border: none;
  outline: none;
  background-color: $grey-900;
  color: $white;
  @include text-preset-4-bold;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.6s ease-out;
  &:hover {
    background-color: $grey-500;
    transition: 0.6s ease-out;
    cursor: pointer;
  }
}
