@use "../../scss/main.scss" as *;
.search-and-filter-transactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  .search {
    width: 13rem;
  }
  .sort-filter-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    .dropdown-desktop {
      display: none;
    }
  }
}

@media (min-width: $tablet-size) {
  .search-and-filter-transactions {
    .search {
      flex-grow: 1;
      width: 9rem;
      max-width: 20rem;
    }
    .sort-filter-container {
      .dropdown-mobile {
        display: none;
      }
      .dropdown-desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        color: $grey-500;
        @include text-preset-4;
      }
    }
  }
}

@media (min-width: $desktop-size) {
  .search-and-filter-transactions {
    gap: 2rem;
    .search {
      width: 14rem;
      max-width: 20rem;
    }
  }
}
